@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font: normal 1em Arial;
    background-color: lightblue;
    color: white;
}

header {
    text-align: center;
    padding: 1em 0;
}

section {
    background-color: white;
    border-radius: .6em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    padding: 1em;
    width: 500px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1em 0;
    font-style: Italic;
}
