@charset "UTF-8";

body {
    height: 100vh;
    background-color: rgb(70, 142, 236);
    font: normal 1em Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    width: 500px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: .6em;
    padding: 1em;
    margin: auto;
}

div {
    text-align: center;
    padding: .5em;
}

footer {
    text-align: center;
    font-style: Italic;
    color: white;
}
